@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-poppins: "Poppins", serif;
  --shadow-card: '0px 1px 2px 0px rgba(0, 0, 0, 0.05)';
  --color-neo-brutalism-blue : '#2b77e7';
  --color-neo-brutalism-white : '#fff';
}
:root {
  --blue-rgb: 237 245 255;
  --green-rgb: 125 161 35;
}


html, body, #root {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

body {
  font-family: "Work Sans", sans-serif;
}

body:has(.card[data-color="blue"]:hover) {
  background-color: rgb(var(--blue-rgb) / 25%);
}

body:has(.card[data-color="green"]:hover) {
  background-color: rgb(var(--green-rgb) / 25%);
}

@layer utilities {
  .max-container {
    @apply max-w-5xl mx-auto sm:p-16 pb-12 !pt-[126px] px-8 min-h-[calc(100vh-80px)];
  }

  .head-text {
    @apply sm:text-5xl text-3xl font-semibold sm:leading-snug font-poppins;
  }

  .subhead-text {
    @apply font-semibold sm:text-3xl text-xl relative font-poppins;
  }

  .blue-gradient_text {
    @apply bg-gradient-to-r from-[#00c6ff] to-[#0072ff] bg-clip-text text-transparent;
  }

  .input {
    @apply bg-white border border-gray-200 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 mt-2.5 font-normal shadow-card;
  }

  .textarea {
    @apply block p-2.5 w-full text-sm text-gray-900 bg-white rounded-lg border border-gray-200 focus:ring-blue-500 focus:border-blue-500 mt-2.5 font-normal shadow-card;
  }

  .btn {
    @apply text-white bg-gradient-to-r from-[#00c6ff] to-[#0072ff] focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center;
  }

  .header {
    @apply flex justify-between items-center sm:p-2 p-4 max-w-5xl mx-auto fixed top-0 bg-transparent z-10 right-0 left-0;
  }

  .footer {
    @apply max-w-5xl mx-auto sm:p-2 p-6 flex flex-col gap-7;
  }

  .footer-container {
    @apply flex flex-wrap gap-7 items-center justify-between;
  }

  .info-box {
    @apply mx-5 relative flex text-white flex-col gap-3 max-w-2xl bg-neo-brutalism-blue pt-4 pb-12 px-8;
  }

  .neo-btn {
    border-radius: 0.5rem; /* rounded-lg */
    color: #3b82f6; /* text-blue-500 */
    text-align: center;
    font-weight: 600; /* font-semibold */
    width: 90%;
    margin-top: 1.25rem; /* mt-5 */
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.75rem; /* gap-3 */
  }
  @media (min-width: 640px) {
    .neo-btn {
      width: 50%; /* sm:w-1/2 */
    }
  }

  .cta {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 2rem; /* mt-8 */
    gap: 1.75rem; /* gap-7 */
  }
  @media (min-width: 768px) {
    .cta {
      flex-direction: row; /* md:flex-row */
    }
  }
  @media (min-width: 640px) {
    .cta {
      margin-top: 4rem; /* sm:mt-16 */
    }
  }

  .cta-text {
    font-weight: 800; /* font-extrabold */
    flex: 1;
    font-size: 1.875rem; /* text-3xl */
    text-align: left;
  }
  @media (max-width: 767px) {
    .cta-text {
      text-align: center; /* max-md:text-center */
    }
  }
}

.glassmorphism {
  background: rgba(8, 116, 239, 0.07);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.logo {
  border-radius: 8.889px;
  background: #fff;
  box-shadow: 0px 10px 35px -4px rgba(67, 83, 255, 0.15),
    0px 1.5px 4px -1px rgba(67, 83, 255, 0.2);
}

.block-container {
  position: relative;
  transition: 250ms;
  perspective: 500px;
}

.block-container .btn-back {
  position: absolute;
  inset: 0;
  z-index: -1;
  width: inherit;
  height: inherit;
  transition: 250ms;
  transform-style: preserve-3d;
  transform-origin: bottom right;
  transform: rotateZ(15deg);
  will-change: transform;
  box-shadow: 16px 0 40px #e4e4e4;
}

.block-container .btn-back-red {
  background: linear-gradient(135deg, #ff4b1f -20%, #ff9068 120%);
}

.block-container .btn-back-green {
  background: linear-gradient(135deg, #adfda2 -20%, #11d3f3 120%);
}

.block-container .btn-back-yellow {
  background: linear-gradient(135deg, #f7971e -20%, #ffd200 120%);
}

.block-container .btn-back-blue {
  background: linear-gradient(135deg, #0061ff -20%, #60efff 120%);
}

.block-container .btn-back-orange {
  background: linear-gradient(135deg, #ff0f7b -20%, #f89b29 120%);
}

.block-container .btn-back-pink {
  background: linear-gradient(135deg, #e81cff -20%, #40c9ff 120%);
}

.block-container .btn-back-black {
  background: linear-gradient(135deg, #0a1647 -20%, #e4e7e4 120%);
}

.block-container .btn-front {
  position: absolute;
  inset: 0;
  z-index: 1;
  width: inherit;
  height: inherit;
  background-color: #ffffff33;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  transition: 250ms;
  transform-style: preserve-3d;
  transform-origin: top left;
  overflow: hidden;
}

.block-container:hover > .btn-back {
  transform: translateZ(20px) rotateZ(15deg) rotateX(-20deg) rotateY(-20deg);
}

.block-container:hover > .btn-front {
  transform: translateZ(80px) translateY(-5px) rotateX(15deg) rotateY(15deg);
}

/* Customize the entire scrollbar */
.custom-scrollbar::-webkit-scrollbar {
    width: 8px; /* Set the width of the scrollbar */
}

/* Customize the scrollbar track (the background) */
.custom-scrollbar::-webkit-scrollbar-track {
    background-color: theme('colors.cyan.200'); /* Use Tailwind's color system */
}

/* Customize the scrollbar thumb (the draggable part) */
.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: theme('colors.cyan.500'); /* Use Tailwind's color system */
    border-radius: 4px; /* Add rounded corners */
}